@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-section-inner{
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section-outer{
  overflow: hidden;
}

.scroll-section1{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
}

div.scroll-container {
  overflow: hidden;
  white-space: nowrap;
}

div.scroll-container img {
  padding: 10px;
}

.container1 > * {
  display: block;
}
.container > * {
  display: inline-block;
}

.image-container img, .video-container iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .image-container, .video-container {
    flex-basis: calc(50% - 10px); /* Adjust the percentage and gap as needed */
  }
}

.big-font-list {
  font-size: 24px; /* Big font size */
  line-height: 1.5; /* Improved line spacing for readability */
  color: white; /* Dark grey color for text */
  padding-left: 20px; /* Space before bullets/numbers */
  list-style-position: inside; /* Align bullets/numbers with text */
}

.big-font-list li {
  margin-bottom: 10px; /* Space between list items */
}

.centered-container {
  display: flex;
  justify-content: center;
  height: 40vh; /* Full viewport height */
  width: 250vh;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.small-btn {
    width: 25px;
    height: 10px;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  width:150px;
  height: 50px;
}

.center{
    display : flex;
    justify-content: center;
     align-items : center;
}

canvas {
    width: 600px;
    height: 500px;
    border: 1px solid black;
}
